* {
    border-style: none;
}

H1{
    font-family: 'Merienda', cursive;
}

.navbar-brand{
    margin-left: 40%;
}

.search{
    border-radius: 0 0 10px 10px;
    padding: 1% 15%;
}

.Search-input{
    border-width: 2px;
    border-color: black;
    color: black;
}

.Search-input::placeholder {
    color:black;
}

@media screen and (max-width: 990px) {
    .navbar-brand{
        margin-left:0;
    }
}